<div class="mt-8 prose">
	<h2 class="">All blogposts</h2>
	{% set year = "" %}
	{% for post in postslist %}
		{% set postYear = post.date | getYear %}
		{% if year != postYear %}
			<p class="mt-10 -mb-6 text-lg font-bold">{{ postYear }}</p>
			{% set year = postYear %}
		{% endif %}
		<section class="my-10">
			<p class="m-0">{{ post.date | readableDate }}</p>
			<h3 class="mt-1">
				<a href="{{ post.url | url }}" title="{{ post.data.title }}">{{ post.data.title }}</a>
			</h3>
		</section>
	{% endfor %}
</div>