{% macro readingListItem(url, title, excerpt, publication) %}
  <section class="prose readingListItem dark:prose-light dark:bg-gray-800">
    <p class="leading-tight">
      <a href="{{ url }}" >
        {{ title }}
      </a>

    </p>
    {% if excerpt %}
      <p class="-mt-4">{{ excerpt }}</p>
    {% endif %}

    {% if publication %}
      <p class="-mt-4">{{ publication }}</p>
    {% endif %}
  </section>
{% endmacro %}