<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
  <header>
    {% include "partials/header.njk" %}
  </header>

  <body class="container grid h-screen max-w-4xl px-4 pt-4 mx-auto bg-white grid-cols-full grid-rows-auto-1-auto dark:bg-trueGray-800">

    <main class="prose dark:prose-light">
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}

    {# <script type="module" src="/scripts/main.js" defer></script> #}

  </body>

</html>