---
layout: layouts/page.njk
section: feedbin-stars
---
{% from "../macro_components/readingListItem.njk" import readingListItem %}

<p>
     These are the {{ feedbinLikes | length }} articles that I've starred on <a href="https://feedbin.com">Feedbin, my RSS reader</a>.
    </p>

<div>

    {% for item in feedbinLikes %}

        {% set itemURL = item.url %}
        {% set itemTitle = item.title %}
        {% set itemPublication = item.publication %}

        {{ readingListItem(url=itemURL, title=itemTitle, publication=itemPublication) }}

    {% endfor %}

</div>