---
layout: layouts/base.njk
section: home
---
<section class="prose ">
  <p>
        My personal site
    </p>
  <p class="mt-2">
        Some tech, some politics, some shapenote music
    </p>
</section>

{% set postslist = collections.posts | reverse %}
{% include "partials/last4posts.njk" %}