---
layout: layouts/page.njk
section: rss-likes
---
{% from "../macro_components/readingListItem.njk" import readingListItem %}

<p class=" ">
     These are the {{ raindropLinks | length }} links that I've saved on <a href="https://raindrop.io" class=" ">Raindrop, my bookmarking service</a>.
    </p>

<div class="">

{% for item in raindropLinks %}

  {% set itemURL = item.url %}
  {% set itemTitle = item.title %}
  {% set itemExcerpt = item.excerpt %}

  {{ readingListItem(url=itemURL, title=itemTitle, excerpt=itemExcerpt) }}

{% endfor %}

</div>