---
layout: layouts/page.njk
section: reading-list
---

<p>See what I've saved in Pocket, Raindrop, and Feedbin.</p>
<h3>
        Latest 3 Pocket articles
    </h3>

{% for i in range(0, 3) %}

  <section class="readingListItem">

    <p>
      <a href="{{ readingList[i].resolved_url }}"
                class=" ">{{ readingList[i].resolved_title if readingList[i].resolved_title else readingList[i].resolved_url }}</a>
            {% if readingList
            [i].authors %}
            by {% for authorID, authorDetails in readingList
                [i].authors %}
                    <em>{{ authorDetails.name | title }}
                    </em>
                </p>
            {% endfor %}
        {% endif %}
    </p>
</section>

{% endfor %}

<p class="-mt-4">
        <a href="/pocket-articles" class="font-semibold  ">See all Pocket links</a>
      </p>

      <h3 class="mt-12 ">
        Latest 3 Raindrop links
    </h3>

      {% for i in range(0, 3) %}
        <section class="readingListItem">

          <p>
            <a href="{{ raindropLinks[i].url }}" class="  ">
            {{ raindropLinks[i].title }}
        </a>
    </p>

    <p>{{ raindropLinks[i].excerpt | truncate(150)}}</p>

</section>
{% endfor %}

<p class="-mt-4">
              <a href="/raindrop-links" class="font-semibold  ">See all Raindrop links</a>
            </p>

            <h3 class="mt-12 ">
        Latest 3 Feedbin stars
    </h3>

            {% for i in range(0, 3) %}
              <section class="readingListItem">
                <p>
                  <a href="{{ feedbinLikes[i].url }}" class=" ">
            {{ feedbinLikes[i].title }}
        </a>
    </p>
    {# <p>{{ feedbinLikes[i].publication }}</p> #}
</section>
{% endfor %}
<p class="-mt-4">
                    <a href="/feedbin-stars" class="font-semibold ">See all Feedbin stars</a>
                  </p>