---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
permalink: /tags/{{ tag | slug }}/
layout: layouts/page.njk
---

<h2 class="">
    Posts about <em>{{ tag | title }}</em>
</h2>
<div class="">

    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}

        <section class="my-10">
            <p class="m-0">{{ post.date | readableDate }}</p>
            <h3 class="mt-1">
                <a href="{{ post.url | url }}" title="{{ post.data.title }}">{{ post.data.title }}</a>
            </h3>
        </section>
    {% endfor %}
</div>