---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
permalink: /tags/{{ tag | slug }}/
layout: layouts/page.njk
tagPage: true
title: Tag
---
{% from "../_includes/macro_components/postEntry.njk" import postEntry %}

<h2 class="-mb-2">
    Posts about <em>{{ tag | title }}</em>
</h2>

{% set taglist = collections[tag] %}
{% for post in taglist | reverse %}

    {% set postDate = post.date | readableDate %}

    {% set postURL = post.url | url %}

    {% set postTitle = post.data.title %}

    {{ postEntry(date=postDate, url=postURL, title=postTitle) }}

{% endfor %}