<footer class="section">
  <nav>

    <ul class="nav_list">

      {% if site.author.twitterUsername %}
        <li class="nav_item">
          <a href="https://twitter.com/{{ site.author.twitterUsername }}" rel="me">Twitter</a>
        </li>
      {% endif %}

      {% if site.repository %}
        <li class="nav_item">
          <a href="https://github.com/{{ site.repository }}">Source</a>
        </li>
      {% endif %}

      {% if site.RSSFeed %}
        <li class="nav_item">
          <a href="/feed.xml">RSS</a>
        </li>
      {% endif %}

      {% if site.sitemap %}
        <li class="nav_item">
          <a href="/sitemap.xml">Sitemap</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  {% if site.author.mastodonUsername %}
    <link rel="me" href="https://mastodon.social/{{ site.author.mastodonUsername}}">
  {% endif %}

  {% if site.contentLicence %}

    <p>
        Content on this website is under a
        <a href="{{ site.contentLicence.link }}">{{ site.contentLicence.text }}</a>.
      </p>

  {% endif %}

</footer>