<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ title }} - {{ site.title }}</title>
  <meta name="description" content="{{ socialDescription or site.description }}">

  {# Twitter metadata #}
  <meta name="twitter:card" content="summary">
  {% if site.author.twitterUsername %}
    <meta name="twitter:site" content="{{ site.author.twitterUsername }}">
  {% endif %}
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ socialDescription or site.description }}">
  {% if site.author.twitterUsername %}
    <meta name="twitter:creator" content="{{ site.author.twitterUsername }}">
  {% endif %}
  {# <meta name="twitter:image" content="http://www.example.com/image.jpg"> #}
  {# End of Twitter metadata #}

  {# Facebook / Open Graph metadata #}
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{ site.url}}{{ page.url }}"/>
  {# <meta property="og:image" content="http://example.com/image.jpg" /> #}
  <meta property="og:description" content="{{ socialDescription or site.description }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  {# End of Facebook / Open Graph metadata #}

  {# Rel links #}
  {% if site.author.githubUsername %}
    <link href="https://github.com/{{ site.author.githubUsername }}" rel="me">
  {% endif %}

  {# {% if site.author.microblogUsername %}
  <link href="https://micro.blog/{{ site.author.microblogUsername }}" rel="me">
  {% endif %} #}

  {% if site.author.mastodonUsername %}
    <link href="https://mastodon.social/{{ site.author.mastodonUsername }}" rel="me">
  {% endif %}
  {# End of Rel links #}

  {% if site.indieauth == true %}
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    {# <link rel="microsub" href="https://aperture.p3k.io/microsub/134"> #}
  {% endif %}

  {# {% if site.micropub == true %}
  <link rel="micropub" href="{{ site.url }}/micropub">
  {% endif %} #}

  {# {% if site.author.instagramUsername %}
  <link href="https://instagram.com/{{ site.author.instagramUsername }}" rel="me">
  {% endif %} #}
  
  <script src=“/assets/js/alpine.js” defer></script>

  {% set css %}
  {% include "../../node_modules/modern-css-reset/dist/reset.min.css" %}
  {% include "../../assets/css/main.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  

</head>