{% if navigation.items %}

  <div>
    <nav>
      <button type="button">Menu</button>

      <div>

        <ul>
          {% for nav in navigation.items %}
          <li>

            <a href="{{ nav.url | url }}"
             ><img
                src="/assets/internal_images/{{ nav.navicon }}"
                width="15" alt="{{ nav.alt_text }}">{{ nav.text }}</a>
          </li>
          {% endfor %}

        </ul>
    </nav>
  </div>

{% endif%}
