{% if navigation.items %}

  <nav>
    <button id="nav_toggler" type="button" aria-expanded="false">Menu</button>

    <ul class="nav_list">
      {% for nav in navigation.items %}
        <li class="nav_item">
          <a href="{{ nav.url | url }}">
            {{ nav.text }}
          </a>
        </li>
      {% endfor %}

    </ul>
  </nav>

  {% endif%}