<!doctype html>
<html lang="en">

{% include "components/head.njk" %}

<body>
	<div>
		<header>
			<div>
				<div>
					<h1>
						<a class="h-card" rel="me" href="/">{{ site.title }}</a>
					</h1>
				</div>

				{% include "components/nav.njk" %}

			</div>

		</header>

		<main>
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}
	</div>
	<script src="/assets/js/main.js"></script>

</body>

</html>