---
layout: layouts/base.njk
section: home
---
{% set postslist = collections.posts %}
<div class="row py-2 my-0 mx-0">
	<h2 class="h3 post-title">Blogposts</h2>
</div>
{% include "components/postslist.njk" %}
