---
layout: layouts/base.njk
section: home
---
{% set postslist = collections.posts | reverse %}

<h2 class="page_title">Latest posts</h2>
{% include "components/last4posts.njk" %}
<a href="/all-posts" class="see_all">See all posts</a>