---
layout: layouts/base.njk
section: page
---
{% include "components/scrollbar_indicator.njk" %}

<h1 class="h3">{{ title }}</h1>
<section class="col-12 col-md-9 mt-3">
{{ content | safe }}
</section>