---
layout: layouts/base.njk
section: post
---

<article class="h-entry section">

    <!-- h-entry things -->
    <div class="hidden">
        <a href="{{ page.url }}"></a>
        <time class="dt-published">{{ page.date | ISO_8601_Date }}</time>
        <a rel="author" href="https://edjohnsonwilliams.co.uk">Ed Johnson-Williams</a>
    </div>
    <!-- End of h-entry things -->

    <h2 class="p-name post_title">{{ title }}</h2>
    <section class="date_reading">
        <p class="published_date">
            <span>Published:</span> {{ page.date | readableDate }}</p>
        <p>
            <span>Reading time:</span>
            {{ content | readingTime }}</p>
    </section>
    <div class="e-content">
        {{ content | safe }}
    </div>

</article>