---
title: Reading List
permalink: /reading-list/index.html
layout: layouts/page.njk
---

<div class="row mt-4">
    <div class="col col-md-10">

        <p>
            This is a list of the links that are currently saved in <a href="http://getpocket.com">my Pocket account</a>
            that I haven't tagged as 'private'.
        </p>

        <p>
            I've written up how this website pulls in that data using <a
                href="https://www.11ty.io/docs/data-js">Eleventy
                Javascript data files
            </a> and <a href="https://getpocket.com/developer">the Pocket API</a> in <a href="">
                a blogpost
                here
            </a>.
        </p>
        <hr>

        <ul class="list-unstyled mt-4">

            {% for item in readingList %}

            <li class="mb-3">
                <p class="mb-1">
                    <a
                        href="{{ item.resolved_url }}">{{ item.resolved_title if item.resolved_title else item.resolved_url }}</a>{% if item.authors %}
                    by {% for authorID, authorDetails in item.authors %} <em>{{ authorDetails.name | title }} </em>
                    {% endfor %} {% endif %}

                </p>

                <small>
                    <a href="https://getpocket.com/a/read/{{ item.item_id }}" class="border-0">
                        <img src="/assets/internal_images/pocket.svg" alt="Pocket logo" class="img-fluid mr-2"
                            width="20">
                    </a>
                    <a href="https://getpocket.com/a/read/{{ item.item_id }}">
                        Pocket article link
                    </a>
                </small>

                {% if item.excerpt %}
                <p class="mt-2 mb-1"><i>Summary: </i>{{ item.excerpt }}</p>
                {% endif %}

                {% if item.tags %}
                <small><i>Tags: </i>
                    {% for tag, tagHash in item.tags %}
                    <a href="https://getpocket.com/explore/{{ tag }}">{{ tag }}</a>{% if loop.revindex > 1 %},{% endif %}
                    {% endfor %}
                </small>
                {% endif %}

            </li>
            {% if loop.revindex > 1 %}
            <hr>
            {% endif %}

            {% endfor %}

        </ul>
    </div>
</div>


<hr>
<div class="row">
    <div class="col col-md-10">
        <p>
            Thanks to <a href="https://bryanlrobinson.com/blog/2019/04/02/using-eleventys-javascript-data-files">Bryan
                L. Robinson for his blog</a> explaining how to get Eleventy's Javascript data files working with an
            external API.
        </p>

        <p>
            Thanks also to <a href="https://reader.fxneumann.de/plugins/oneclickpocket/auth.php">Felix Neumann's
                webpage</a> for easily generating a Pocket Access Token.
        </p>
    </div>
</div>