<footer class="mt-16 prose border-t-8 border-yellow-200 dark:prose-light">

  <div class="leading-loose list-none">

    {# {% if site.author.twitterUsername %}
        <li>
          <a href="https://twitter.com/{{ site.author.twitterUsername }}" rel="me">Twitter</a>
        </li>
      {% endif %} #}

    {% if site.repository %}
      <p class="pl-0 my-2">
        <a href="https://github.com/{{ site.repository }}" class="underline">See the code for this site</a>
      </p>
    {% endif %}

    {% if site.RSSFeed %}
      <p class="pl-0 my-2">
        <a href="/feed.xml" class="underline">See the RSS feed for this site</a>
      </p>
    {% endif %}

    {% if site.sitemap %}
      <p class="hidden">
        <a href="/sitemap.xml">Sitemap</a>
      </p>

    {% endif %}
  </div>

  {# {% if site.author.mastodonUsername %}
    <link rel="me" href="https://mastodon.social/{{ site.author.mastodonUsername}}">
  {% endif %} #}

  {% if site.contentLicence %}

    <p class="mt-6 text-sm">
        Content on this website is licenced as
        <a href="{{ site.contentLicence.link }}">{{ site.contentLicence.text }}</a>. That means you can copy, adapt, and redistribute any content on this site for any purpose providing you give credit, provide a link to the licence, and indicate if you made changes.
    </p>

  {% endif %}

</footer>